---
import Layout from '../layouts/Layout.astro';
const title = 'About Colecçao';
---

<Layout title={title}>
	<section>
    <h1>{title}</h1>
    <p>Colecçao is a collection of images, thoughts, and ideas that I gather over time. They might interest me in some way or offer some form of inspiration.</p>
    <p>The name comes from the old Portuguese word for "collection" (which was changed to coleçao as of 1990. It's a whole thing so look it up.)</p>
    <p>In terms of the inspiration for the site itself, it was three things: Pinterest, Tumblr, and Are.na. They all serve similar purposes but have somewhat unique USPs. It seems counterproductive to be on some of those sites and then make a brand new site that muddies the waters but I wanted to own those little "atoms" of inspiration and collect them as I saw fit.</p>
    <h2>How the site works</h2>
    <p>Each image is called an "atom" (shout out to my friend <a href="https://cloverscorner.bearblog.dev/">Clover</a> for the name) and the tags are called "molecules" (ie. a collection of atoms). Atoms are all accessible on the homepage but you can also find them in their respective molecule. <em>Yeah, science!</em></p>
  </section>
	</Layout>
